<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


<link rel="stylesheet" href="movie-style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<link
href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
rel="stylesheet"
/>  

</head>
<body>
    <div id="nav">
        <div id="logo">
            <img src="logo.png" alt="">
            <p>Home</p>
            <p>Entertainment</p>
            <p>Hotels</p>
            <p>About Us</p>
        </div>

        <div id="buttons">
            <select name="country" id="country">
                <option value="state1">State1</option>
                <option value="state1">State2</option>
                <option value="state1">State3</option>
                <option value="state1">State4</option>
                <option value="state1">State5</option>
                <option value="state1">State6</option>
                <option value="state1">State7</option>
                <option value="state1">State8</option>
                <option value="state1">State9</option>
                <option value="state1">State10</option>
            </select>
            <button><a href="register" style="color: white; text-decoration: none;">Sign-In/Up</a></button>
        </div>

    </div>

    <div id="main">
        <div id="homepage">
            <img src="homepage-img1.png" alt="" class="image" id="image1">
            <img src="homepage-img2.png" id="image2" alt="" class="image">
            <img src="homepage-img3.png" class="image" alt="" id="image3">
            <img src="homepage-img4.jpg" class="image" alt="" id="image4">
            <img src="homepage-img5.png" alt="" id="image5" class="image">
            <img src="homepage-img6.png" alt="" class="image" id="image6">
            <div id="homepage-content">

                
                <h1>Nomad Navigator</h1>
                <p>Welcome to Nomad Navigator! Your go-to hub for stress-free trip planning. Discover hotels and activities effortlessly. Benefit from insider tips shared by fellow travelers. Let's start exploring together!</p>

                <button>Explore</button>
            
            </div>
        </div>

        <div id="trending-movie">
            <div id="heading">
                <h1>Trending Movies</h1>
                <h4><a href="#">see all</a></h4>
            </div>
            <div id="movies-container">
                <a href="movie1">
                    <div class="movie-card">
                        <div class="movie-content">
                            <img src="movie1.png" alt="">
                            <div class="movie-heading">
                                <h1>Annette</h1>
                            </div>
                            <div class="movie-info">
                                
                                <p>Action / Thriller,</p>
                                
                                <div class="rating-movie">
                                    <p> <i class="ri-star-fill"></i> 7/10</p>
                                    
                                    <p>56k Votes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="movie2">
                    <div class="movie-card">
                        <div class="movie-content">
                            <img src="movie2.png" alt="">
                            <div class="movie-heading">
                                <h1>SpiderMan</h1>
                            </div>
                            <div class="movie-info">
                                
                                <p>Action / Thriller,</p>
                                
                                <div class="rating-movie">
                                    <p> <i class="ri-star-fill"></i> 7/10</p>
                                    
                                    <p>56k Votes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="movie3">  
                    <div class="movie-card">
                        <div class="movie-content">
                            <img src="movie3.png" alt="">
                            <div class="movie-heading">
                                <h1>Army of <br>Dead</h1>
                            </div>
                            <div class="movie-info">
                                
                                <p>Action / Thriller,</p>
                                
                                <div class="rating-movie">
                                    <p> <i class="ri-star-fill"></i> 7/10</p>
                                    
                                    <p>56k Votes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="movie4">
                    <div class="movie-card" id="movie4">
                        <div class="movie-content">
                            <img src="movie4.png" alt="">
                            <div class="movie-heading">
                                <h1>HER</h1>
                            </div>
                            <div class="movie-info">
                                
                                <p>Action / Thriller,</p>
                                
                                <div class="rating-movie">
                                    <p> <i class="ri-star-fill"></i> 7/10</p>
                                    
                                    <p>56k Votes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div id="popular-event">
            <div id="heading">
                <h1>Popular Events</h1>
                <h4><a href="#">see all</a></h4>
            </div>
            <div id="events-container">
                <div class="event-card">
                    <div class="event-content">
                        <img src="event1.png" alt="">
                        <div class="event-heading">
                            <h1>Kiski ko batana <br> mat </h1>
                            <h3>Ft. Anubhav Singh Bassi</h3>
                        </div>
                        <div class="event-info">
                            
                            <p>Standup Comedy</p>
                            <p>$10 onwards</p>
                        </div>
                    </div>
                </div>

                <div class="event-card">
                    <div class="event-content">
                        <img src="event2.png" alt="">
                        <div class="event-heading">
                            <h1>Toxic</h1>
                            <h3>Ft. Abishek Upmanyu </h3>
                        </div>
                        <div class="event-info">
                            
                            <p>Standup Comedy</p>
                            <p>$10 onwards</p>
                        </div>
                    </div>
                </div>

                <div class="event-card">
                    <div class="event-content">
                        <img src="event3.png" alt="">
                        <div class="event-heading">
                            <h1>Chaman Chatora</h1>
                            <h3>Ft. Gaurav Kapoor</h3>
                        </div>
                        <div class="event-info">
                            
                            <p>Standup Comedy</p>
                            <p>$10 onwards</p>
                        </div>
                    </div>
                </div>
                <div class="event-card">
                    <div class="event-content">
                        <img src="event4.png" alt="">
                        <div class="event-heading">
                            <h1>The Lavari Show</h1>
                            <h3>Ft. Lavari</h3>
                        </div>
                        <div class="event-info">
                            
                            <p>Standup Comedy</p>
                            <p>$10 onwards</p>
                        </div>
                    </div>
                </div>

                
              

            </div>
        </div>


        <div id="hotel">
            <div id="heading">
                <h1>Hotel/Resort</h1>
                <h4><a href="#">see all</a></h4>
            </div>

            <div id="hotel-container">
                <div class="row">               
                    <div class="hotel-card">
                        <div class="hotel-content">
                            <img src="hotel1.jpg" class="hotelImg" alt="">

                            <div class="hotel-heading">
                                <h1>Ocean Breeze Resort</h1>
                                <p>Experience luxury and relaxation at our beachfront oasis, offering stunning views of the ocean and world-class amenities.</p>
                                <h4>Price: $1200 per night</h4>

                                <button>Book Now!</button>
                            </div>

                        </div>
                    </div>

                    <div class="hotel-card">
                        <div class="hotel-content">
                            <img src="hotel2.jpg" class="hotelImg" alt="">

                            <div class="hotel-heading">
                                <h1>Ocean Breeze Resort</h1>
                                <p>Experience luxury and relaxation at our beachfront oasis, offering stunning views of the ocean and world-class amenities.</p>
                                <h4>Price: $1200 per night</h4>

                                <button>Book Now!</button>
                            </div>

                        </div>
                    </div>
                </div>  

                <div class="row">
                    <div class="hotel-card">
                        <div class="hotel-content">
                            <img src="hotel3.jpg" class="hotelImg" alt="">

                            <div class="hotel-heading">
                                <h1>Ocean Breeze Resort</h1>
                                <p>Experience luxury and relaxation at our beachfront oasis, offering stunning views of the ocean and world-class amenities.</p>
                                <h4>Price: $1200 per night</h4>

                                <button>Book Now!</button>
                            </div>

                        </div>
                    </div>

                    <div class="hotel-card">
                        <div class="hotel-content">
                            <img src="hotel4.jpg" class="hotelImg" alt="">

                            <div class="hotel-heading">
                                <h1>Ocean Breeze Resort</h1>
                                <p>Experience luxury and relaxation at our beachfront oasis, offering stunning views of the ocean and world-class amenities.</p>
                                <h4>Price: $1200 per night</h4>

                                <button>Book Now!</button>
                            </div>

                        </div>
                    </div>
                </div>
             
            </div>


        </div>

        <div id="about-us">
            <div id="left-about">
                <img src="about-left1.jpg" alt="" id="aboutleft1" class="aboutImg">
                <img src="about-left2.jpg" alt="" id="aboutleft2" class="aboutImg">
            </div>

            <div id="right-about">
                <h1>About Us</h1>
                <p>Discover the ultimate convenience at Nomad Navigator, your all-in-one platform for travel booking, event reservations, movie tickets, and hotel accommodations. Immerse yourself in local culture by watching movies and attending events. Experience seamless planning and unforgettable adventures all in one place. Your journey begins here!</p>
            </div>
        </div>


        <div id="news-letter">
            <div id="left-news">
                <h1>Join our Newsletter</h1>
                <p>get weekly access to our best deals, tips and tricks</p>
            </div>

            <div id="right-news">
                <form action="/newsletter" method="POST">
                    <label for="emailletter">Enter your Email</label>
                    <input type="email" id="emailletter" name="emailletter" placeholder="name@gmail.com">
                    <p id="invalidEmail"></p>
                    <input id="emailBtn" type="submit" value="Submit">
                </form>
            </div>
        </div>


    </div>
    

    <script>
        let usrEmail = document.getElementById("emailletter");
        let form = document.querySelector("form");
        let InvalidEmail = document.getElementById("invalidEmail");
    
        function validateEmail(email) {
            // Regular expression pattern for email validation
            if (email.trim() == "") {
                return false;
            }
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    
            // Test the email against the pattern
            return emailPattern.test(email);
        }
    
        form.addEventListener("submit", function (event) {
            // event.preventDefault(); // Prevent default form submission behavior
    
            if (validateEmail(usrEmail.value)) {
                console.log("Email is valid.");
                InvalidEmail.innerHTML = "";
            } else {
                console.log("Email is invalid.");
                InvalidEmail.style.color = "red";
                InvalidEmail.style.fontSize = "15px";
                InvalidEmail.innerHTML = "* Please enter a valid email address";
            }
    
        });
    </script>
    
</body>
</html>